.benefits__image {
    color: #c00407;
    height: 40px;
    width: 40px;
}

.exceptional__list__icons {
    height: 40px;
    width: 40px;  
}

.confirmed__icon {
    height: 20px;
    width: 20px;      
}

.exp__icon {
    height: 40px;
    width: 40px;     
}

.f__coffeespacelogo {
    height: 400px;
    width: 400px;
}